{% macro campo(campo, placeholder="") %}

<div class="mb-4">
    <label class="block mb-2 text-sm font-medium text-gray-900">
        {{ campo.label }}
    </label>

    {{ campo(
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
        focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5",
        placeholder=placeholder
    ) }}

    {% for error in campo.errors %}
        <p class="text-red-500 text-sm">{{ error }}</p>
    {% endfor %}
</div>

{% endmacro %}